.Sidebar
  background-color: #F1F1F1;
  height: 100%
  width: 300px
  position: fixed
  z-index: 1
  //max-width: 300px

.Nav
  display: flex
  flex-direction: column
  height: 90vh
  justify-content: space-between

.Logo
  display: flex
  justify-content: center
  padding-top: 30px
  color: #357ebd
  font-weight: 800
  font-size: 46px
    
.SignOut
  display: flex
  width: 140px
  height: 48px
  align-items: center
  padding-left: 52px
  


